<div class="page-wrapper">
    <!-- start section header -->
    <section class="header">
        <div class="row">
            <div id="back" class="d-inline col-lg-1 p-0" >
                <button type="button" class="btn btn-light rounded-0">
                        <img src="./assets/icons/ic_back.svg" >
                    Back
                </button>
            </div>
            <div id="build" class="d-inline col-lg-10 p-0 border-0 text-center" style=" max-width: 90%;">
                <div style="padding-top:10px;">
                    <h2 class="d-inline">Email Sequence One</h2>
                </div>
            </div>
          
        </div>  
    </section>
    <!-- end section header -->
    <!-- start section content -->
    <section class="content">
            <div class="row" id="main">
               
                <!-- start  main-content -->
                <div class="main-sequence" >
                        <div class="content text-center">
                             <!-- start  first -->
                            <div class="first">
                                <h1>This campaign has no email yet</h1>
                               
                                <div class="join text-center">
                                    <p>
                                        Choose one of the options below for creating a new email sequence.
                                     </p>
                                </div>
                            </div>
                            <!-- end  first -->
                            <!-- start  secand -->
                            <div class="secand">
                                <div class="join">
                                    <div class="row">
                                        <div class="col-lg-4 d-inline m-0 p-0 " style="border-right:none; padding: 52px 0px !important;">
                                            <img src="./assets/icons/ic_blueprint.svg">
                                        </div>
                                        <div class="col-lg-8 d-inline m-0 p-0" style="    padding: 42px 0px !important;
                                        padding-right: 90px !important;">
                                        <h1>Choose a Blueprint</h1>
                               
                                        <div class="join" style="text-align: left;">
                                            <p>Our campaign blueprints are a great way to get started. Just pick a blueprint, fill in the placeholders, and have a fully functioning campaign in minutes.
                                             </p>
                                        </div>            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end  secand -->
                            <!-- start  secand -->
                            <div class="secand">
                                <div class="join">
                                    <div class="row">
                                        <div class="col-lg-4 d-inline m-0 p-0 " style="border-right:none; padding: 52px 0px !important;">
                                            <img src="./assets/icons/ic_blueprint.svg">
                                        </div>
                                        <div class="col-lg-8 d-inline m-0 p-0" style="    padding: 42px 0px !important;
                                        padding-right: 90px !important;">
                                        <h1>Start From Scratch</h1>
                               
                                        <div class="join" style="text-align: left;">
                                            <p>
                                                    Already have your emails planned out or know exactly what content you need? Then you’re ready to start building out your campaign. </p>
                                        </div>            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end  secand -->
                        </div>
                        </div>
                <!-- end  main-content -->
            </div>  
    </section>
    <!-- end section content -->
</div>
