.create-quiz {
  background-color: $bg4 !important;

  &__actions {
    background-color: $primary-dark;
    padding: 12px 20px;
    text-align: center;
    color: #fff;
    min-height: 50px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);

    &--back {
      @include text(12px, 600, left);
      float: left;
      margin-top: 4px;
      cursor: pointer;
    }

    // &--setting {
    //   @include text(12px, 600, center);
    //   float: right;
    //   margin-top: 4px;
    //   vertical-align: middle;
    //   cursor: pointer;
    //   .icon {margin-right: 5px;}
    // }
  }

  &__setup-title {
    @include text(16px, 600, left);
    color: $primary-dark;
    padding: 20px;
    position: relative;

    &--status {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 10px;
    }
  }

  &__menu {
    @include reset-ul;
    padding: 0 10px;

    &--item {
      @include text(13px, 600, left);
      color: $text-neu;
      text-transform: capitalize;
      width: 100%;
      padding: 11px;
      margin: 10px 0;
      @include transition;
      cursor: pointer;
      position: relative;

      .icon {
        margin-right: 10px;
        &.zu-setting, &.zu-test {
          &::before {
            color: $text-neu;
          }
          border-color: $text-neu;
          &::after {
            border-left: 4px solid $text-neu;
          }
        }
      }

      &.active {
        color: $primary-dark;
        background-color: $bg1;
        border-radius: 2px;
        .icon {
          opacity: 1;
        }

        .zu-correct:before {
          color: $action;
        }
      }

      &.done {
        color: $primary-dark;

        .zu-correct:before {
          color: $action;
        }
      }

      .zu-correct {
        z-index: 55;
        position: relative;
        margin-right: 10px;

        &:before {
          font-size: 16px;
          color: #487D94;
        }
      }

      &.test-quiz {
        .icon { 
          opacity: 0.5;
        }
        &:before {
          content: none;
        }
      }

      &.not-completed {

        .icon:before {
          color: $text-neu;
        }
      }
    }
  }

  &__save {
    @include btn;
    padding: 7px 22px;
    height: auto;
    width: 90%;
    margin: 0 auto;
    display: block;
    background-color: $primary-dark;
    cursor: pointer;
  }
}

#configure {
  margin-top: 0;
  margin-right: 0;
  margin-left: 225px;
  padding: 0;
}

.content {

  .chars-count {
    float: right;
    @include text(12px, 400, right);
  }
  div[class*="setting__"] {
    position: relative;
  }
  .zu-drop {
    position: absolute;
    background-color: inherit;
    padding: 5px;
    right: 15px;
    top: 5px;

    &:after{
      content: '';
      position: absolute;
      border-top: 3px solid $text-dark;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
    }
  }

  .inner-header {
    @include component_inner-header;
  }

  .setting {
    background-color: #fff;
    padding: 0 20px;
    height: 100%;
    padding-bottom: 100px;
    // border-right: $border;

    label {
      @include text(12px, 600, left);
      color: $text-dark;
      text-transform: capitalize;
    }

    fieldset {
      border: none;
      padding: 0;
    }

    textarea {
      width: 100%;
      @include input-box;
      resize: none;
    }

    &__header {
      @include text(16px, 700, left);
      color: $text-dark;
      text-transform: uppercase;
      border-bottom: $border;
      padding: 20px;
      max-height: 60px;
      margin-left: -20px;
      width: calc(100% + 40px);
    }

    &__marketplace {
      padding: 10px 0;
      color: $text-neu;

      &--heading {
        @include text(14px, 600, left);
      }

      &--desc {
        font-size: 10px;
        margin: 0 0 6px 0;
      }

      &--btns {

        button {
          position: relative;
          background-color: transparent;
          padding: 8px 11px 8px 8px;
          @include text(12px, 400, center);
          border: none;
          border-radius: 5px;

          &:focus {
            outline-color: $action;
          }

          .icon {
            vertical-align: middle;
            margin-right: 8px;
            background-color: #e1e1e1;
            width: 24px;
            height: 24px;
            border-radius: 2px;
            font-size: 13px;
            padding-top: 5px;
          }

          &:last-child {
            margin-left: -4px;
          }

          &.active {
            border: 1px solid $action;

            .icon {
              color: #fff;
              background-color: $action;
            }
          }
        }
      }
    }

    &__category, &__quiz-variation {
      @extend .setting__marketplace;
      @include text(12px, 400, left);
      padding: 10px 0;
      border-bottom: none;

      &--select {
        @include input-box;
        width: 100%;
        color: $text-dark;
        background-color: #EAEEF1;
        border: none;
        font-weight: 600;
        padding: 12px 10px;
        border-radius: 5px;

        option {
          background-color: #fff;
        }
      }
    }

    &__sub-category {
      @extend .setting__category;
      padding-bottom: 20px;
      margin-bottom: 10px;
      border-bottom: $border;

      fieldset {
        border: $border;
        padding: 5px;

        input {
          border: none;
          width: 70%;
        }
      }

      &--entered {
        background-color: #e1e1e1;
        padding: 2px 5px;

        .zu-close-dark {
          cursor: pointer;
        }
      }
    }

    &__title {
      @extend .setting__category;

      input {
        @include input-box;
        width: 100%;
      }
    }

    &__desc {
      @extend .setting__title;
    }

    &__action-label {
      @extend .setting__category;

      input {
        @include input-box;
        width: 100%;
      }
    }

    &__image {
      @extend .setting__category;

      label {
        width: 100%;
      }

      &--upload {
        display: block;
        width: 100%;
        border: $border;
        background-color: #f6f6f6;
        padding: 32px;
        text-align: center;
        margin-top: 0.5rem;
        cursor: pointer;

        .heading {
          @include text(12px, 600, center);
          margin-top: 16px;
          display: block;

          strong {
            color: $action;
          }
        }
      }
    }

    &__sharing {

      .toggle-on-off {
        width: 50px;
        height: 25px;
        position: relative;
        background-color: #e1e1e1;
        border-radius: 25px;
        border: none;
        margin: 5px 10px;
        vertical-align: middle;

        &:after {
          content: '';
          position: absolute;
          top: 3px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          z-index: 55;
          @include transition;
        }

        &.on:after {
          background-color: $action;
          right: 3px;
        }

        &.off:after {
          background-color: $text-light;
          right: 27px;
        }
      }
    }

    &__save {
      @include btn;
      float: right;
      margin-bottom: 20px;
      width: 100px;
    }

  }

  .live-preview {
    margin: 20px;
    margin-right: 45px;
    margin-bottom: 40px;

    &__header {
      padding: 22px 0;
      background-color: $bg4;
      @include text(12px, 600, center);
      color: #fff;
      position: fixed;
      top: 0;
      width: calc(100% - 150px - 33.3333333333%);
      z-index: 555;
      max-height: 60px;

      h4 {
        @include text(12px, 600, center);
        display: block;
      }
    }

    &__quiz {
      background-color: #fff;
      box-shadow: $shadow;
      padding: 15px;
      max-width: 315px;
      border-radius: 5px;
      margin: 80px auto 40px;

      &--img {
        margin: -50px auto 0 auto;
        background-color: $text-neu;
        height: 210px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        overflow: hidden;

        img {
          min-width: 100%;
        }
      }

      &--info {
        width: 100%;
        color: #EE86FC;
        @include text(12px, 700, left);
        margin-top: 20px;

        span {
          color: $text-light;
          float: right;
        }
      }

      &--heading {
        @include text(15px, 700, left);
        color: $text-dark;
        margin: 15px 0;
      }

      &--desc {
        @include text(15px, 400, left);
        color: $text-light;
        line-height: 25px;
      }

      &--btn {
        margin-top: 20px;
        @include btn;
        @include text(12px, 600, center);
        width: 105px;
        height: 30px;
        text-transform: uppercase;
      }
    }
    &.right-nav-opened {
      margin-right: 140px;
      .live-preview__nav {
        width: 130px;
        .zu-hamburger {
          span {
            margin-left: -3px;
          }
          &::before {
            left: 22px;
            border-right: none;
            border-left: 5px solid $bg3;
          }
          &::after {
            left: 24px;
            border-right: none;
            border-left: 5px solid #fff;
          }
        }
        .h {
          display: inline-block;
          font-size: 10px;
          font-weight: 600;
          color: #fff;
          background-color: $bg3;
          height: 30px;
          line-height: 29px;   
          position: absolute;
          right: 0;
          top: 20px;    
          padding-left: 10px;
          width: 100%;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
        &--content {
          display: block;
        }
      }
    }
    &__nav {
      display: inline-block;
      width: 30px;
      top: 0;
      right: 0;
      height: 100vh;
      position: absolute;
      .zu-hamburger {
        // width: 30px;
        z-index: 5;
        background-color: $bg3;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        right: 0;
        top: 20px;
        &:after {
          left: 3px;
          border-right-color: #fff;
        }
        &::before {
          left: 5px;
        }
        span {
          background-color: #fff;
          margin-left: 7px;
          &::after, &::before {
            background-color: #fff;
          }
        }
      }
      .h {
        display: none;
      }

      &--content {
        display: none;
        padding: 0;
        width: 100%;
        height: calc(100vh - 100px);
        position: absolute;
        right: 0;
        top: 50px;
        list-style: none;
        overflow: auto;

        .item {
          @include text(12px, 400, center);
          color: $text-dark;
          margin: 15px 0;
          cursor: pointer;
          img {
            max-width: 100px;
            max-height: 80px;
            display: block;
            margin: 0 auto;
            margin-bottom: 5px;
            @include transition;
            &:hover {
              transform: scale(1.06);
            }
          }
        }
      }
    }
  }
}