.quiz-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;

  &.active {
    background-color: $action;
  }

  &.draft {
    background-color: $text-light;
  }

  &.archived {
    background-color: $alert;
  }
}

main {

  .content {

    .header {
      display: flex;
      display: -webkit-flex;
      display: -moz-flex;
      display: -o-flex;
      display: -ms-flex;
      flex-wrap: wrap;

      &__top-bar {
        flex: 1;

        &--heading {
          @include text(20px, 600, left);
          color: $text-dark;
          display: inline-block;
          margin: 0;
          margin-top: -6px;
        }

        &--btn {
          float: right;
          @include btn;
        }

      }
    }

    .nav {
      @include reset-ul;
      flex-basis: 100%;
      margin: 20px 0 0 0;
      border-bottom: $border;

      &__item {
        @include text(13px, 600, left);
        color: $text-dark;
        opacity: 0.5;
        display: inline-block;
        margin: 0 55px 0 0;
        padding-bottom: 16px;
        cursor: pointer;
        @include transition;

        &:first-child {
          padding-left: 0;
        }

        &.active {
          opacity: 1;
          color: $text-dark;
          padding-bottom: 18px;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            height: 3px;
            width: 100%;
            background-color: $action;
          }
        }

        &:hover {
          color: $text-dark;
          opacity: 1;
        }
      }
    }
  }

  .quizzes {
    margin-top: 30px;
    flex-basis: 100%;

    .quiz {
      padding: 15px;
      margin-bottom: 25px;
      background-color: #fff;
      box-shadow: $shadow;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;

      &__img {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        overflow: hidden;
        vertical-align: top;

        img {
          display: block;
          min-height: 100%;
        }
      }

      &__info {
        margin-left: 16px;
        color: $text-light;
        vertical-align: top;

        p {
          @include text(12px, 400, left);
          margin: 0;
        }

        h2 {
          @include text(20px, 700, left);
          color: $text-dark;
          margin: 10px 0;
        }

        .link {
          @include text(12px, 400, left);
          vertical-align: middle;
          margin: 10px 0 20px;
          cursor: pointer;
        }

        &--analytics {
          padding: 0;
          margin: 0;

          &.item {
            display: inline-block;
            padding: 0 17px;
            float: left;
            @include text(12px, 400, left);

            &:not(:last-of-type) {
              border-right: $border;
            }

            &:first-child {
              padding-left: 0;
            }

            .num {
              @include text(14px, 600, center);
              display: block;
              color: $text-dark;
            }
          }
        }
      }

      &__status {
        padding: 0;
        margin: 0;
        float: right;

        &--info {
          padding-left: 0;
          margin: 0 0 30px 0;

          li {
            @extend .quiz__info--analytics.item;
            float: none;
            color: $text-light;

            &:last-child {
              padding-right: 0;
            }

            span {
              margin-right: 6px;
            }
          }

        }

        &--btns {
          float: right;
          position: relative;

          button {
            display: block;
            background: transparent;
            border: 1px solid $action;
            width: 120px;
            height: 30px;
            @include text(12px, 600, center);
            color: $action;
            margin-bottom: 10px;
            position: relative;

            .cf-arrow-down {
              position: absolute;
              top: 12px;
              right: 10px;
            }
          }
        }

        &--action-dropdown {
          position: absolute;
          top: 62px;
          right: 0;
          padding: 14px;
          min-width: 137px;
          background-color: #fff;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          z-index: 555;

          &-item {
            display: block;
            @include text(12px, 400, left);
            color: $text-dark;
            list-style: none;
            padding: 0;
            cursor: pointer;

            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }
      }
    }
  }
}