/* typo */

$font: 'Open Sans', sans-serif !important;

// color palette
  $action:        #0B8B8C;
  $primary-dark:  #000000;
  $text-light:    #B0B5C3;
  $text-neu:      #828793;
  $text-dark:     #363636;
  $blk:           #000;
  $bg1:           #E9E9E9;
  $bg2:           #F7F7F7;
  $bg3:           #0C4962;
  $bg4:           #175D7A;
  $boxes:         #F6F6F6;
  $alert:         #FF0000;
  $alert2:        #FF7979;
  $notify:        #F79A06;
  $shadow:          0 5px 10px rgba(0, 0, 0, 0.16);
  $border:          1px solid #E1E1E1;