@import '../../../../../../assets/vendor/bootstrap-4.1/bootstrap.min.css';
@import '../../../../../../assets/css/crm.css';
.mainContainer{
    width: 100%; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50px;
    height: 95vh;
    overflow: scroll;
}

.page-wrapper .addPruningOperation{
    width: 80%; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.page-wrapper .addPruningOperation a{
    font-size: 12px;
    font-weight: bold;
    color: #0B8B8C;
}
.page-wrapper .addPruningOperation h6{
    font-size: 16px; 
    font-weight: bold;
    margin-top: 20px;
}
.page-wrapper .addPruningOperation p{
    font-size: 12px; 
    color: #707070;
}

.prunContactbtn{
    float: right;
    width: 120px;
    height: 30px;
    background: #D60000;
    border: none;
}

.modalbtn{
    float: right;
    height: 35px;
    background-color: #D60000;
    border: none;
}
.cancelBtn{
    width: 90px;
    background-color: white;
    color: black;
    border: 1px solid black;

}