@font-face {
  font-family: Open-Sans-Regular;
  src: url(../../../../../../../assets/fonts/OpenSans-Regular.ttf);
}

.modal-open .modal {
  padding-right: 0px !important;
}

.modal-dialog {
  height: 100%;
}

.modal-backdrop {
  opacity: 0 !important;
}

.btn-info.focus, .btn-info:focus {
  box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
  box-shadow: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  /* z-index: 4; */
}

.dropdown-action {
  /* top: -116px; */
  padding: 4px 0px;
  top: -22px;
  left: 34px;
  width: 272px;
  /* height: 212px; */

  background: #828793 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-action a {
  text-align: left;
  font-size: 10px;
  line-height: 14px;
  font-family: 'Open-Sans-Regular';
  letter-spacing: 0;
  color: #FFFFFF !important;
  opacity: 1;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

.dropdown-action a.customopcity {
  opacity: 0.5;
}

.dropdown a:hover {
  background-color: #828793;
}

.dropdown:hover .dropdown-action {
  display: block;
  z-index: 99;
}

.show {
  display: block;
}

#build h4 {
  font-size: 12px;
  line-height: 17px;
  font-family: 'Open-Sans-Regular';
  color: #959595;
  margin-bottom: 0px !important;
}

#build h3 {
  font-size: 14px;
  line-height: 19px;
  font-family: 'Open-Sans-SemiBold';
  color: #000000;
}

.dropdown-toggle::after {
  display: none;
}

#build button {
  margin-top: -10px;
  height: 51px;
  border-right: 1px solid #E1E1E1;
  background: #fff;
  border-radius: unset;
}

#build .dropdown-menu {
  width: 270px !important;
  /* margin-top: 60px;
    left: -7% !important; */
  padding: 0px;
  background: #f7f7f7;
  padding-left: 0px !important;
}

#build .dropdown-menu li {
  /* margin: 10px; */
  padding: 10px;
  background: #F7F7F7;
}

#build .help {
  border-right: 1px solid;
  padding-right: 4px;
}

#build .header {
  font-size: 12px;
  line-height: 17px;
  font-family: 'Open-Sans-SemiBold';
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #dee2e6;
  background: #fff !important;
  padding: 10px !important;
  margin: 0px !important;
}

#build label {
  width: 100%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 5px #0000001A;
  border-radius: 2px;
  margin: 0px !important;
  height: 67px;
}

#build label.active {
  border: 1px solid #000;
}

#build label label {
  width: 59px;
  height: 47px;
  background: #F7F7F7;
  border: none;
  text-align: center;
  box-shadow: none;
  margin-left: 15px !important;
  padding: 8px;
  margin-top: 10px !important;
  margin-right: 5px !important;
}

#build label h2 {
  font-size: 11px;
  line-height: 15px;
  font-family: 'Open-Sans-SemiBold';
  display: inline;
}

#build label img {
  width: 30px;
  height: 30px;
}

#build .group-2 button {
  height: 30px;
  font-size: 12px;
  line-height: 17px;
  font-family: 'Open-Sans-SemiBold';
  width: 130px;
  background: #000;
  color: #fff;
  margin-top: 5px;
  margin-right: 10px;
}

#build .group-2 .dropdown-menu {
  margin-top: 7px !important;
  border: none !important;
  border-radius: unset !important;
  background: 0% 0% no-repeat padding-box padding-box rgb(255, 255, 255) !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px !important;
  width: 155px !important;
  font-size: 12px !important;
  line-height: 14px !important;
  font-family: 'Open-Sans-Regular' !important;
}

button:focus {
  outline: none;
}

.validationError {
  text-align: left;
  font-size: 12px;
  color: red;
}

.center {
  text-align: center;
}

.disabled {
  pointer-events: none;
}

.pagination li.active {
  background-color: #0b8b8c;
  color: white;
  border: 1px solid #0b8b8c;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}

.pagination {
  display: inline-block;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination li.active {
  background-color: #0b8b8c;
  color: white;
  border: 1px solid #0b8b8c;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
  cursor: pointer;
}

.el-btn {
  width: 25px;
  height: 30px;
  z-index: 1;
  position: relative;
  display: inline-block;
  border-radius: 2px;
  padding-left: 10px;
  height: 30px;
  background: white;
  position: relative;
  border: 1px solid #000000;
  font-size: 12px;
  line-height: 19px;
  font-family: 'Open-Sans-SemiBold';
  color: #000000;
  text-align: left;
}

#main .main-sequence3  .Setting{
margin: 0px 14%;
margin-top: 30px;
}
#main .main-sequence3   .Setting .first,
#main .main-sequence3   .Setting .secand,
#main .main-sequence3  .Setting .three2{
background: #fff;
margin-bottom: 10px;
border: 1px solid #E1E1E1;
padding:0px !important;

}
#main .main-sequence3  .Setting .first h1,
#main .main-sequence3  .Setting .secand h1,
#main .main-sequence3  .Setting .three2 h1{
padding-left: 26px;
padding-top: 15px;
}
#main .main-sequence3  .Setting .first form,
#main .main-sequence3 .Setting .secand form,
#main .main-sequence3  .Setting .three2 form{
    padding-left: 26px;
}
#main .main-sequence3  .Setting .three2 form p{
    width: 66.2%;
    color: #959595;
    font-family: 'Open-Sans-Regular';
}
#main .main-sequence3  .Setting .first button{
background: #fff !important ;
color: #000 !important;
border: none !important;
border-radius: 2px !important;
font-size: 14px !important;
line-height: 19px !important;
font-family: 'Open-Sans-Regular' !important;
padding-left: 10px !important;
}
#main .main-sequence3  .Setting .first img,
#main .main-sequence3  .Setting .secand a img{
float: right;
width: 10px;
max-height: 10px !important;
margin-top: 5px;
margin-right: 10px;
}
*:before, *:after { content: none; }
#main .main-sequence3  .Setting .first p{
color:#959595;
font-size: 12px !important;
line-height: 18px !important;
font-family: 'Open-Sans-Regular' !important;
}
#main .main-sequence3  .Setting .first span{
    font-size: 12px;
    line-height: 17px;
    font-family: 'Open-Sans-Regular';
}
#main .list2 .onoffswitch-label{
    float: left;
    border: 1px solid #0B8B8C;
}
#main .list2 .onoffswitch h3{
font-size: 12px;
line-height: 17px;
font-family: 'Open-Sans-Regular';
margin-top: 20px;
padding-left: 15px;   
}
#main .main-sequence3 .three .secand label{
    font-size: 12px;
}
#main .main-sequence3 .three .secand .day-text .container span{
    padding-right: 8px;
}
.tab-content.scrollsection .tab-panesection{
  overflow-x: hidden;
  height: 520px;
  overflow-y: scroll;
}

.chooseFromBlueprint{
  width: 100% !important;
  background-color: white !important;
  margin-bottom: 20px;
  box-shadow: 0px 3px 10px #00000029 !important
}

.chooseFromBlueprint tr{
  height: 110px !important;
}

#main .main-sequence3 .tab-content .sequence-secand2 table tbody th{
  padding-top: 0px;
  padding-left: 20px;
}

#main .main-sequence3 .tab-content .sequence-secand2 table thead th{
  padding-left: 20px;
}

#main .main-sequence3 .Setting .first .primaryPurpose{
  display: block;
    padding: 8px;
}

#main .main-sequence3 .Setting .first .primaryPurpose:hover{
  background: #F7F7F7;
  cursor: pointer;
}

#main .main-sequence3 .tab-panesection .three select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../../../../../../assets/icons/arrow-down.svg) no-repeat;
  background-size: 10px;
  background-position: 94% 11px;
  padding-left: 3px;
  border-radius: 3px;
  border: 1px solid #ded8d8;
  height: 30px;
}

#main .main-sequence3 .tab-panesection .three .timeOfDay{
  background-position: 88% 11px;
  width: 15%;
  margin-right: 4px;
}

#main .main-sequence3 .componant .dashboardchrt th{
  text-align: center;
}