<!-- zu-content -->
<main>

  <!-- Side Bar -->
  <aside class="side-bar">

    <!-- Main navigation -->
    <!-- <nav class="main-nav">
      <a href="" class="main-nav__nav-item main">Marketing</a>
      <a href="" class="main-nav__nav-item inner active">Funnels</a>
      <a href="" class="main-nav__nav-item inner ">Email Campaign</a>
      <a href="" class="main-nav__nav-item inner ">Automation</a>
      <a href="" class="main-nav__nav-item inner ">Live Webinars</a>
    </nav> -->
    <!-- /Main navigation -->

    <!-- Hamburger menu -->
    <!-- <div class="zu-hamburger hamb-close"><span></span></div> -->

    <!-- Logo -->
    <header class="side-bar__logo-area">
      <a href="/" class="side-bar__logo-area--logo">Zuuba</a>
    </header>
    <!-- /Logo -->

    <!-- Menu -->
    <ul class="side-bar__menu">
      <li class="side-bar__menu--item">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-dash"></span>
        dashboard
      </li>
      <li class="side-bar__menu--item">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-orders"></span>
        orders
      </li>
      <li class="side-bar__menu--item">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-products"></span>
        products
      </li>
      <li class="side-bar__menu--item">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-two-persons"></span>
        services
      </li>
      <li class="side-bar__menu--item" [routerLink]="['/marketingSetup/funnels']">
        <span class="icon zu-arrow-right"></span>

        <span class="svg-icon zu-marketing"></span>
        marketing
      </li>
      <li class="side-bar__menu--item" [routerLink]="['/crm']">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-crm"></span>
        CRM
        <span class="zu-notify">3</span>
      </li>
      <li class="side-bar__menu--item">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-robot"></span>
        automation
      </li>
      <li class="side-bar__menu--item">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-analytics"></span>
        analytics
      </li>
      <li class="side-bar__menu--item">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-apps"></span>
        apps
      </li>
      <li class="side-bar__menu--item footer">
        <span class="icon zu-arrow-right"></span>
        <span class="svg-icon zu-settings"></span>
        settings
      </li>
    </ul>
    <!-- /Menu -->
    <!-- <div class="side-bar__edit ">
      <button>edit website</button>
    </div> -->

  </aside>
  <!-- /Side Bar -->

  
<app-header></app-header>
</main>
<!-- end/zu-content -->