<div style="width: 100%;height: 100vh;overflow: scroll;" class="page-wrapper">
  <div class="fields">
    <div class="heading">
      <h6>Do Big Things</h6>
      <button (click)="addNewBulkOperation()" style="float: right;width: 150px;height: 30px;">+ New Bulk
        Operation</button>
      <span style="display: block;font-size: 12px;margin-top: 13px;">
        Bulk operations allow you to perform actions on groups of people, such as applying a tag, adding them to a
        Workflow, or modifying a custom field.</span>

    </div>
    <div class="heading" style="margin-top: 3%;">
      <h6 style="font-weight: 100;">Showing <span style="font-weight: bold;"><u>Unperformed</u></span> Bulk Operations sorted by <span style="font-weight: bold;"><u>Most Recent.</u></span></h6>
      <select style="float: right;
      width: 10%;
      border: 1px solid #000000;
      border-radius: 2px;
      padding: 6px;height: 30px;background-position: 90% 12px;">
        <option>Action</option>
      </select>

    </div>
    <div style="margin-top: 30px;">
      <table>
        <thead>
          <tr style="background: #F6F6F6;border: 1px solid #E1E1E1;">
            <th>NAME</th>
            <th>CONTACT</th>
            <th>ACTION</th>
            <th>CREATED AT</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let operation of operations; let i = index">
            <td>{{operation.name}}</td>
            <td>{{operation.contact}}</td>
            <td>{{operation.action}}</td>
            <td>{{operation.createdAt}}</td>
            <td style="text-align: right;" (mouseleave)="closeEditEmailDropDown(i+'dropdown')">
              <span style="background: black;color: white;padding: 4px 10px 4px 10px;margin-right: 1px;">Edit</span>
              <span class="dropdown" style="background: black;padding: 4px 8px 4px 8px;"
                (click)="openViewDropDown(i+'dropdown')">
                <img src="assets/icons/arrow-down.svg">
                <ul class="dropdown-content" id="{{i+'dropdown'}}"
                  style="display: none;width: max-content;background: white;">
                  <li style="text-align: left;">
                    <div class="container" style="padding-top: 10px;top: 0;">
                      <span class="text" style="margin-left: 10px;">Make field public via API</span>
                      <input type="checkbox" checked>
                      <span class="checkmark" style="top: 10px;"></span>
                    </div>
                  </li>
                  <li style="text-align: left;">
                    <div class="container" style="padding-top: 10px;top: 0;">
                      <span class="text" style="margin-left: 10px;">Allow person to edit</span>
                      <input type="checkbox" checked>
                      <span class="checkmark" style="top: 10px;"></span>
                    </div>
                  </li>
                </ul>

              </span>

            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- <div class="modal fade show" id="newField" tabindex="-1" role="dialog" aria-labelledby="addNewTag"   
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="height: 100%;width: 30%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Account Field</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 1rem;padding-bottom: 25px;">
         
          <p style="font-size: 14px;
          color: #707070;">Enter an identifier for your new field. Custom field identifiers must contain only letters, numbers, and underscores.</p>
           <span style="font-size: 12px;font-weight: bold;">Field Identifer</span>
          <input type="text" placeholder="Ex. shoes_size" style="margin-bottom: 20px;">
          <button class="modalbtn cancelBtn" style="margin-left: 10px;">Cancel</button>
          <button class="modalbtn" >Create</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade show" id="editField" tabindex="-1" role="dialog" aria-labelledby="addNewTag"   
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="height: 100%;width: 30%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Field</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body" style="padding: 1rem;padding-bottom: 25px;">
         
          <p style="font-size: 14px;
          color: #707070;">Enter an identifier for your new field. Custom field identifiers must contain only letters, numbers, and underscores.</p>
           <span style="font-size: 12px;font-weight: bold;">Field Identifer</span>
          <input type="text" placeholder="Ex. shoes_size" style="margin-bottom: 20px;">
          <button class="modalbtn cancelBtn" style="margin-left: 10px;">Cancel</button>
          <button class="modalbtn" >Save</button>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>