
    <div class="page-wrapper">
        <!-- start section header -->
        <section class="header">
            <div class="row">
                <div id="back" class="d-inline col-lg-1 p-0" >
                    <button type="button" class="btn btn-light rounded-0">
                            <img src="./assets/icons/ic_back.svg" >
                        Back
                    </button>
                </div>
                <div id="build" class="d-inline col-lg-10 p-0 border-0 text-center" style=" max-width: 90%;">
                    <div style="padding-top:10px;">
                        <h2 class="d-inline">Email Sequence One</h2>
                    </div>
                </div>
              
            </div>  
        </section>
        <!-- end section header -->
        <!-- start section content -->
        <section class="content">
                <div class="row" id="main">
                   
                    <!-- start  main-content -->
                    <div class="main-sequence2" >
                            <div class="content text-center">
                                <!-- start  header -->
                                    <div class="header">
                                        <button type="button" class="btn btn-light rounded-0">
                                                <img src="./assets/icons/ic_back.svg" >
                                            Back
                                        </button>
                              
                                        <div style="    display: inline;">
                                            <h2 class="d-inline">Blueprints</h2>
                                        </div>
                                    </div>
                                <!-- end  header -->
                                
                                <!-- start  secand -->
                                <div class="secand">
                                    <h1>5 Days Email Mini</h1>
                                    <div class="row col-lg-12 p-0 m-0">
                                        <div class="col-lg-9 p-0" style="max-width: 70.7%;text-align: left;">
                                            <p>
                                                Our campaign blueprints are a great way to get started. Just pick a blueprint, fill in the placeholders, and have a fully functioning campaign in minutes.
                                            </p>
                                        </div>
                                        <div class="col-lg-4 p-0" style="text-align: right;max-width: 29.3% !important;border-right: none;">
                                            <button>Use this blueprint</button>
                                        </div>
                                    </div>
                                    <table class="table">
                                            <thead>
                                              <tr>
                                                <th style="text-align: left;">SUBJECT</th>
                                                <th style="text-align: center;padding-left: 12%;">DELAY BETWEEN EMAIL</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <th class="left" >Email subject one</th>
                                                <td class="right">0 day <button class="dropdown-btn">View email</button>
                                                    <div class="dropdown-container">
                                                            <div class="row col-lg-12">
                                                                <div class="col-lg-6 left">
                                                                   Email subject one
                                                                </div>
                                                                <div class="col-lg-6 text-center" style="padding-left: 0px;">1 day</div>
                                                            </div>
                                                            <div class="text">
                                                                <p>
                                                                    To make sure you keep getting these emails, please add {{ from_email }} to your address book or whitelist us. Want out of the loop? 
                                                                    {{ unsubscribe_link }}. 
                                                                </p>
                                                            </div>
                                                    </div>
                                                </td>
                                              </tr>

                                              <tr>
                                                <th class="left" >Email subject one</th>
                                                <td class="right">1 day <button class="dropdown-btn">View email</button>
                                                    <div class="dropdown-container">
                                                            <div class="row col-lg-12">
                                                                <div class="col-lg-6 left">
                                                                   Email subject one
                                                                </div>
                                                                <div class="col-lg-6 text-center" style="padding-left: 0px;">1 day</div>
                                                            </div>
                                                            <div class="text">
                                                                <p>
                                                                    To make sure you keep getting these emails, please add {{ from_email }} to your address book or whitelist us. Want out of the loop? 
                                                                    {{ unsubscribe_link }}. 
                                                                </p>
                                                            </div>
                                                    </div>
                                                </td>
                                              </tr>

                                              <tr>
                                                <th class="left" >Email subject one</th>
                                                <td class="right">1 day <button class="dropdown-btn">View email</button>
                                                    <div class="dropdown-container">
                                                            <div class="row col-lg-12">
                                                                <div class="col-lg-6 left">
                                                                   Email subject one
                                                                </div>
                                                                <div class="col-lg-6 text-center" style="padding-left: 0px;">1 day</div>
                                                            </div>
                                                            <div class="text">
                                                                <p>
                                                                    To make sure you keep getting these emails, please add {{ from_email }} to your address book or whitelist us. Want out of the loop? 
                                                                    {{ unsubscribe_link }}. 
                                                                </p>
                                                            </div>
                                                    </div>
                                                </td>
                                              </tr>

                                        
                                            </tbody>
                                    </table>
                                </div>
                                <!-- end  secand -->
                                 <!-- start  secand -->
                                 <div class="secand">
                                        <h1>3 Days Email Mini</h1>
                                        <div class="row col-lg-12 p-0 m-0">
                                            <div class="col-lg-9 p-0" style="max-width: 70.7%;text-align: left;">
                                                <p>
                                                        Our campaign blueprints are a great way to get started. Just pick a blueprint, fill in the placeholders, and have a fully functioning campaign in minutes.
                                                </p>
                                            </div>
                                            <div class="col-lg-4 p-0" style="text-align: right;max-width: 29.3% !important;border-right: none;">
                                                <button>Use this blueprint</button>
                                            </div>
                                        </div>
                                        <table class="table">
                                                <thead>
                                                  <tr>
                                                    <th style="text-align: left;">SUBJECT</th>
                                                    <th style="text-align: center;padding-left: 12%;">DELAY BETWEEN EMAIL</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th class="left" >Email subject one</th>
                                                    <td class="right">0 day <button class="dropdown-btn">View email</button>
                                                        <div class="dropdown-container">
                                                                <div class="row col-lg-12">
                                                                    <div class="col-lg-6 left">
                                                                       Email subject one
                                                                    </div>
                                                                    <div class="col-lg-6 text-center" style="padding-left: 0px;">1 day</div>
                                                                </div>
                                                                <div class="text">
                                                                    <p>
                                                                        To make sure you keep getting these emails, please add {{ from_email }} to your address book or whitelist us. Want out of the loop? 
                                                                        {{ unsubscribe_link }}. 
                                                                    </p>
                                                                </div>
                                                        </div></td>
                                                  </tr>
    
                                                  <tr>
                                                    <th class="left" >Email subject one</th>
                                                    <td class="right">1 day <button class="dropdown-btn">View email</button>
                                                        <div class="dropdown-container">
                                                                <div class="row col-lg-12">
                                                                    <div class="col-lg-6 left">
                                                                       Email subject one
                                                                    </div>
                                                                    <div class="col-lg-6 text-center" style="padding-left: 0px;">1 day</div>
                                                                </div>
                                                                <div class="text">
                                                                    <p>
                                                                        To make sure you keep getting these emails, please add {{ from_email }} to your address book or whitelist us. Want out of the loop? 
                                                                        {{ unsubscribe_link }}. 
                                                                    </p>
                                                                </div>
                                                        </div></td>
                                                  </tr>
    
                                                  <tr>
                                                    <th class="left" >Email subject one</th>
                                                    <td class="right">1 day <button class="dropdown-btn">View email</button>
                                                        <div class="dropdown-container">
                                                                <div class="row col-lg-12">
                                                                    <div class="col-lg-6 left">
                                                                       Email subject one
                                                                    </div>
                                                                    <div class="col-lg-6 text-center" style="padding-left: 0px;">1 day</div>
                                                                </div>
                                                                <div class="text">
                                                                    <p>
                                                                        To make sure you keep getting these emails, please add {{ from_email }} to your address book or whitelist us. Want out of the loop? 
                                                                        {{ unsubscribe_link }}. 
                                                                    </p>
                                                                </div>
                                                        </div></td>
                                                  </tr>
    
                                                  
                                            
                                                </tbody>
                                        </table>
                                    </div>
                                    <!-- end  secand -->
                            </div>
                            </div>
                    <!-- end  main-content -->
                </div>  
        </section>
        <!-- end section content -->
    </div>