

      <div class="section-padding bg-f7">
          <div class="container white-bx-shadow" >
              <div class="fs-16 bold pt-4">
                  {{firstName}} {{lastName}}
              </div>
              <div class="row">
                  <div class="col-6 p-0 m-auto">
                      <div class="content pt-3 px-3">
                          <div class="text-center mb-3">
                              <p class="fs-30 fw-600">@webinarThankYouPage.title</p>
                              <p class="fs-14 fw-500 text-muted">
                                  @webinarThankYouPage.thankYouText
                              </p>
                              <div class="text-center fs-14" style="padding: 10px;">
                                  <div class="popup">
                                      Link to the webinar <input type="url" id="webinarLink" name="webinarUrl" [(ngModel)]="webinarLink" disabled>
                                      <!-- <span class="popuptext" id="myPopup" *ngIf="copiedTextShown">Copied!</!-->
                                      <button (click)="copyWebinarURL()" class="copy-btn">
                                          {{copiedTextShown ? 'Copied!': 'Copy'}}
                                        </button>
                                  </div>
                                  <a [attr.href] = "webinarLink" target="_blank" class="hmm"> Join Webinar</a>
                              </div>
                              <div class="divContent-center p-3">
                                  <a href="https://www.facebook.com/sharer.php?u=https://localhost:3000/@routes.WebinarMstController.webinarPreview(webinarRegistrationPageConfiguration.webinarMst.id)" class="btn btn-fb btn-sm mr-3">
                                    <span class="icon zu-share-fb">
                                        <span class="path1"></span><span class="path2"></span>
                                        </span>
                                        Share on Facebook</a>
  
                                  <a href="https://twitter.com/home?status=https://localhost:3000/@routes.WebinarMstController.webinarPreview(webinarRegistrationPageConfiguration.webinarMst.id)" class="btn btn-twitter btn-sm">
                                    <span class="icon zu-share-tw">
                                        <span class="path1"></span><span class="path2"></span>
                                        </span>
                                         Share on Twitter</a>
                              </div>
                              <hr>
  
                              <p class="fs-14 fw-500 text-muted">This Event Takes Place On..</p>
  
                              <p class="fs-18 fw-600"><span id="webDate">{{registeredTime}}</span></p>
  
                              <p class="fs-14 fw-500 text-muted">Save this event</p>
                              <div class="d-inline-flex text-center">
                                  <div class="addeventatc" data-direct="outlook" style="box-shadow:none !important;">
                
                                    <!-- <span class="start">dt</span>
                                      <span class="title">hd</span>
                                      <span class="description">desc</span> -->
                                  <a [href]="iCalendarEventUrl" target="_blank" class="text-default">
                                      <div class="dateRedbx mb-3  mr-3">
                                          <div class="monthType" id="month">
                                              Aug
                                          </div>
                                          <div class="dateType" id="date">
                                              24
                                          </div>
                                      </div>
                                      <div class="fs-12 fw-600">iCal</div>
                                  </a>
                                  </div>
                                  <div class="addeventatc" data-direct="google" style="box-shadow:none !important;">
                                      <!-- <span class="start">dt</span>
                                      <span class="title">hd</span>
                                      <span class="description">desc</span> -->
                                  <a [href]="googleCalendarEventUrl" target="_blank" class="text-default">
                                      <div class="dateRedbx fullblue mb-3  mr-3">
                                          <div class="monthType" id="month2">
                                              Aug
                                          </div>
                                          <div class="dateType" id="date2">
                                              24
                                          </div>
                                      </div>
                                      <div class="fs-12 fw-600">gCal</div>
                                  </a>
                                  </div>
                                  <!--a href="javascript://" class="text-default">
                                      <div class="dateRedbx fullblue mb-3">
                                          <i class="material-icons text-danger" style="font-size:40px;">picture_as_pdf</i>
                                      </div>
                                      <div class="fs-12 fw-600">Pdf</div>
                                  </a>-->
                              </div>
  
                              <hr>@webinarSectionStatus.status
                              <!-- @if(webinarSectionStatus.status == true ){ -->
                              <div>
                                  <p class="fs-18 fw-600 mb-2"> @webinarThankyouDownloadFiles.title</p>
                                  <p class="fs-14 fw-500 text-muted">
                                      @webinarThankyouDownloadFiles.thankYouText
                                  </p>
                              </div>
  
                              <a href=@webinarThankyouDownloadFiles.mediaFileUploadedPath class="btn btn-success btndown"><i class="material-icons text-white mr-2" style="font-size:18px;">insert_drive_file</i> Download File</a>
                              <!-- } -->
                          </div>
                      </div>
  
                      <div class="inviteBtnBlue">
                          <div class="divContent-center">
                              <!-- @for(coachMessage <- webinarThankYouPage.webinarcoachMessage){ -->
                              <div class="timerAvtar mr-3">
                                  <img src=@coachMessage.coachImageUploadedPath class="img-fluid">
                              </div>
                              <div class="fs-20 fw-500">@coachMessage.coachMessage</div>
                          </div>
                      </div>
  
                      <br>
                  </div>
              </div>
          </div>
      </div>
      <ngx-ui-loader></ngx-ui-loader>